@font-face {
    font-family: "SFProDisplay-Regular";
    src: local("SFProDisplay-Regular"),
        url("/fonts/SFProDisplay-Regular.woff2") format("woff2"),
        url("/fonts/SFProDisplay-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    src: local("SFProDisplay-Semibold"),
        url("/fonts/SFProDisplay-Semibold.woff2") format("woff2"),
        url("/fonts/SFProDisplay-Semibold.woff") format("woff");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'SFProDisplay-Regular', sans-serif;
    background: #E5E5E5;
}

.header {
    background: #FA8C16;
    padding: 16px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 144px;
}

.header_wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    margin: 0 auto 0 60px;
}

.header_menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_menu_link {
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px;
}

.input_group {
    max-width: 237px;
    width: 60%;
    height: 32px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}

.search_input {
    border: none;
    height: 100%;
    width: 80%;
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;

}

.search_input::-moz-placeholder {
    color: #BFBFBF;
}

.search_input:-webkit-input-placeholder {
    color: #BFBFBF;
}

.search_input:-ms-input-placeholder {
    color: #BFBFBF;
}

.search_input::-ms-input-placeholder {
    color: #BFBFBF;
}

.search_input::placeholder {
    color: #BFBFBF;
}

.search_button {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: #ffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_toggle {
    display: none;
}

/* content styles */
.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.posts {
    width: 67%;
}

.post {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}

.post_body {
    padding: 35px 35px 0 35px;
}

.post_title {
    font-family: 'SFProDisplay-Semibold', serif;
    margin: 0 0 19px 0;
    font-family: 'SFProDisplay-Semibold',
        serif;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.post_text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.tags {
    margin-bottom: 22px;
}

.tag {
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
    margin-right: 10px;
    text-decoration: none;
}

.post_footer {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #E8E8E8;
}

.post_buttons {
    display: flex;
    align-items: center;
}

.post_button .icon {
    fill: #8C8C8C;
}

.icon_likes,
.icon_comments {
    margin-right: 8px;
}

.post_button {
    background-color: transparent;
    border: none;
    color: #8C8C8C;
    display: flex;
    align-items: center;
    line-height: 22px;
    font-size: 14px;
    margin-right: 29px;
    cursor: pointer;
}

.author_avatar {
    width: 34px;
    height: 34px;
    margin-left: 9px;
    border-radius: 4px;
}

.post_author {
    display: flex;
    align-items: center;
    text-align: right;
}

.author_username {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;
    text-decoration: none;
}

.post_time {
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF;
}

.sidebar {
    width: 31%;
}

.user {
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_info {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.user_avatar {
    border-radius: 50%;
    margin-right: 17px;
}

.user_name {
    font-family: 'SFProDisplay-Semibold', serif;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.icon_exit {
    width: 20px;
    height: 20px;
    fill: #000;
}

.sidebar_nav {
    background-color: #fff;
}

.sidebar_menu {
    margin: 0;
    border: 1px solid #E8E8E8;
    border-top: none;
    padding: 0;
    list-style: none;
}

.sidebar_menu_item {}

.sidebar_menu_link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 16px 48px;
    display: block;
    /* width: 100%; */
    transition: .2s ease-in-out;

}

.sidebar_menu_link:hover {
    color: #FAAD14;
    background: #FFFBE6;

}

.sidebar_menu_link.active {
    background: #FFFBE6;
    border-right: 3px solid #FAAD14;
}

.button {
    background: #FAAD14;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 13px;
    cursor: pointer;
}

.button_outline {
    background: #FFFFFF;
    border: 1px solid #FFC53D;
    border-radius: 4px;
    color: #FFC53D;
    padding: 13px 16px 13px 4px;
}

.button_new_post {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_fire {
    width: 11px;
    height: 13px;
    fill: #FFFFFF;
    margin-right: 10px;
}

.card {
    background: #FFFFFF;
    margin-top: 20px;
    border: 1px solid #E8E8E8;
}

.card_header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
    padding: 23px 25px;
}

.card_title {
    margin: 0;
    font-family: 'SFProDisplay-Semibold',
        serif;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.card_body {
    padding: 22px 40px 20px 25px;
}

.card_body_title {
    margin: 0 0 10px;
    text-decoration: none;
    font-family: 'SFProDisplay-Semibold',
        serif;
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
}

.card_text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin: 10px 0;
}

.promo {
    display: block;
    background: #fff url('../images/promo.jpg') no-repeat center center/cover;
    width: 100%;
    height: 260px;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
    position: relative;
}

.promo::before {
    content: 'Реклама';
    position: absolute;
    right: 0;
    top: 0;
    background-color: #c4c4c4;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.add_post {
    display: flex;
    flex-direction: column;
}

.add_title,
.add_text {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    font-family: 'SFProDisplay-Semibold',
        serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 23px 31px;
}

.add_title::placeholder {
    color: #000000;
}

.add_buttons button:nth-child(2) {
    margin-left: 2%;
    margin-right: 1%;
}

.add_button {
    max-width: 360px;
    width: 100%;
}

.add_text {
    min-height: 362px;
    color: #595959;
}

.icon_video,
.icon_photo {
    fill: #FFC53D;
    margin-left: 17px;
}

@media (max-width: 990px) {
    .posts {
        width: 100%;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 100;
    }

    .menu_toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-left: 12px;
    }

    .menu_toggle span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        transition: .2s ease-in-out;
    }

    .menu_toggle:hover span {
        background-color: #c4c4c4;
    }

    .menu_toggle:hover span:nth-child(1) {
        width: 10%;
    }

    .menu_toggle:hover span:nth-child(2) {
        width: 50%;
    }

    .sidebar {
        position: fixed;
        top: 64px;
        right: 0;
        bottom: 0;
        height: calc(100% - 64px);
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        padding: 30px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        transform: translateX(100%);
        transition: transform .2s ease-in-out;
    }

    .sidebar.visible {
        transform: translateX(0);
        overflow-y: auto;
        z-index: 99;
    }

    .content {
        margin-top: 94px;

    }

    .header_nav {
        display: none;
    }

    .header_menu {
        width: 90%;
        margin: auto;
    }


}

@media(max-width:659px) {
    .add_buttons {
        display: flex;
        flex-direction: column;
    }

    .add_button {
        max-width: 100%;
    }

    .add_buttons button:nth-child(2) {
        margin-left: 0;
        margin-right: 0;

    }

    .add_buttons .button_outline {
        margin-top: 10px;
    }
}

@media(max-width:539px) {
    .post_footer {
        flex-direction: column;
    }

    .post_author {
        margin-top: 15px;
    }

    .author_about {
        order: 2;
        text-align-last: left;
    }

    .author_avatar {
        margin-left: 0;
        margin-right: 10px;
    }
}